.header{
    background-color: green;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    font-size: 25px;
    color: white;
}